<div id='header'>
  <h1 id='title'>Grievances from Anonymous Salesforce Developers</h1>
  <%= link_to 'Vent', new_grievance_path %>
</div>
<div class='grievances'>
  <% @grievances.each do |grievance| %>
    <div class='grievance' id='grievance-<%=grievance.id%>'>
      <div class='content'>
        <span class='text'><%= grievance.content %></span>
        <br>
        <div class='votes'>
          <%= link_to "Come on!", up_grievance_path(grievance.id), remote: true %>
          <span class='up'> (<%= grievance.ups %>) </span>
        
          <%= link_to "Want some whine with that cheese?", down_grievance_path(grievance.id), remote: true %> 
          <span class='down'> (<%= grievance.downs %>) </span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

