<div id='header'>
  <h1 id='title'>Grievances from Anonymous Salesforce Developers</h1>
  <%= link_to 'Vent', new_grievance_path, :id => 'vent' %>
</div>
<div class='grievances'>
  <% @grievances.each do |grievance| %>
    <div class='grievance' id='grievance-<%=grievance.id%>'>
      <div class='content'>
        <span class='text'><%= grievance.content %></span>
        <br>
        <div class='votes'>
          <%= link_to "Come on!", up_grievance_path(grievance.id), remote: true, :class => "up-link"%>
          <span class='up'> (<%= grievance.ups %>) </span>
        
          <%= link_to "Want some cheese with that whine?", down_grievance_path(grievance.id), remote: true, :class =>"down-link"%> 
          <span class='down'> (<%= grievance.downs %>) </span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id='new'>
  <%= render 'form' %>
</div>
<br>

