<h1>Listing grievances</h1>

<table>
  <% @grievances.each do |grievance| %>
    <tr>
      <td><%= grievance.content %></td>
      <div id='grievance-<%=grievance.id%>'>
        <td><%= link_to "Come on!", up_grievance_path(grievance.id), remote: true %> (<%= grievance.ups %>)</td>
        <td><%= link_to "Want some whine with that cheese?", grievance, remote: true %> (<%= grievance.downs %>)</td>
      </div>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Vent', new_grievance_path %>
