<h1>Listing grievances</h1>

<table>
  <% @grievances.each do |grievance| %>
    <tr>
      <td><%= grievance.content %></td>
      <div id='grievance-<%=grievance.id%>'>
        <td><%= grievance.ups %></td>
        <td><%= grievance.downs %></td>
      </div>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Vent', new_grievance_path %>
