<h1>Grievances from Anonymous Salesforce Developers</h1>

<table id='grievances'>
  <% @grievances.each do |grievance| %>
    <tr id='grievance-<%=grievance.id%>'>
      <td><%= grievance.content %></td>
        <tr>
          <td>
            <%= link_to "Come on!", up_grievance_path(grievance.id), remote: true %>
            <span class='up'> (<%= grievance.ups %>) </span>
        
            <%= link_to "Want some whine with that cheese?", down_grievance_path(grievance.id), remote: true %> 
            <span class='down'> (<%= grievance.downs %>) </span>
          </td>
        <tr>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Vent', new_grievance_path %>
