<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @grievance.content %>
</p>

<p>
  <strong>Ups:</strong>
  <%= @grievance.ups %>
</p>

<p>
  <strong>Downs:</strong>
  <%= @grievance.downs %>
</p>

<%= link_to 'Edit', edit_grievance_path(@grievance) %> |
<%= link_to 'Back', grievances_path %>
